In [69]:
import matplotlib.pyplot as plt
import pandas as pd
from joblib import load

In [71]:
search_results = load('../models/random_forest/20230925172321/random_search.joblib')

In [72]:
def display_search_results_overview(search_results, thresholds = None, order_by='mean_test_score', ascending=True) :
    
    display('Best estimator: {}'.format(search_results.best_params_))
    display('Best score: {}'.format(search_results.best_score_))

    if thresholds != None :
        df = pd.DataFrame(search_results.cv_results_)             
    
        for key in thresholds :
            if len(thresholds[key]) == 1 :
                df = df.loc[df[key] >= thresholds[key][0]]
            else :    
                df = df.loc[df[key] <= thresholds[key][0] if thresholds[key][1] == 'max' else df[key] >= thresholds[key][0]]
            
        df = df.sort_values(order_by, ascending=ascending)
        
        param_columns = []
        
        for column in df.columns :
            if 'param' in column :
                param_columns.append(column)
        
        score_columns = ['mean_test_score', 'std_test_score']
        
        df = df[score_columns + param_columns]
        
        display(df)

In [73]:
scores = {
    'mean_test_score': [0.83],  
}

display_search_results_overview(search_results, scores, order_by='mean_test_score', ascending=False)

"Best estimator: {'n_estimators': 135, 'min_samples_split': 6, 'min_samples_leaf': 4, 'max_features': 'sqrt', 'bootstrap': True}"

'Best score: 0.8485268414481899'

,mean_test_score,std_test_score,param_n_estimators,param_min_samples_split,param_min_samples_leaf,param_max_features,param_bootstrap,params
9,0.848527,0.053322,135,6,4,sqrt,True,"{'n_estimators': 135, 'min_samples_split': 6, ..."
36,0.848527,0.050149,120,4,4,log2,True,"{'n_estimators': 120, 'min_samples_split': 4, ..."
38,0.847416,0.054662,130,4,4,log2,True,"{'n_estimators': 130, 'min_samples_split': 4, ..."
4,0.847403,0.054253,140,4,4,sqrt,True,"{'n_estimators': 140, 'min_samples_split': 4, ..."
24,0.846280,0.053989,120,6,6,sqrt,True,"{'n_estimators': 120, 'min_samples_split': 6, ..."
...,...,...,...,...,...,...,...,...
66,0.833920,0.050349,120,8,6,log2,True,"{'n_estimators': 120, 'min_samples_split': 8, ..."
55,0.833920,0.043050,125,4,6,log2,True,"{'n_estimators': 125, 'min_samples_split': 4, ..."
56,0.832809,0.046286,130,4,6,log2,True,"{'n_estimators': 130, 'min_samples_split': 4, ..."
58,0.832797,0.043826,140,4,6,log2,True,"{'n_estimators': 140, 'min_samples_split': 4, ..."
20,0.830549,0.042669,130,4,6,sqrt,True,"{'n_estimators': 130, 'min_samples_split': 4, ..."

In [86]:
df = pd.read_csv('../models/random_forest/kaggle_grid_search.csv')
display(df[['mean_test_score', 'std_test_score', 'param_bootstrap', 'param_max_depth', 'param_max_features', 'param_min_samples_leaf', 'param_min_samples_split', 'param_n_estimators']].sort_values('mean_test_score', ascending=False))

,mean_test_score,std_test_score,param_bootstrap,param_max_depth,param_max_features,param_min_samples_leaf,param_min_samples_split,param_n_estimators
18769,0.841780,0.036327,True,71.0,sqrt,2,6,147
7250,0.840644,0.028901,True,33.0,sqrt,2,6,152
18720,0.840644,0.033362,True,71.0,sqrt,2,2,100
25240,0.840625,0.034572,True,90.0,log2,2,6,100
10089,0.839527,0.035886,True,43.0,sqrt,2,2,147
...,...,...,...,...,...,...,...,...
24474,0.794621,0.011955,True,85.0,log2,18,8,173
13654,0.794621,0.012968,True,52.0,sqrt,18,6,173
26588,0.793516,0.019285,True,95.0,sqrt,18,4,142
25012,0.793510,0.012665,True,90.0,sqrt,14,6,163
25862,0.793503,0.013733,True,90.0,log2,18,4,110